.review-card {
  background: #fff;
  transition: all 0.3s ease;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.comment-text {
  line-height: 1.6;
}

.rating {
  font-size: 14px;
}

.user-name {
  font-weight: 600;
  color: #333;
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px; /* Adjust space between stars */
}

.stars-container {
  display: inline-flex;
}

.review-user-info {
  min-width: 0; /* Prevent flex item from overflowing */
}







/* our team rating */

/* .rating {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
} */

.filled-star {
    color: #ffc107; /* Gold color for filled stars */
}

.empty-star {
    color: #ccc; /* Light color for empty stars */
}

/* .rating-text {
    font-size: 14px;
    color: #555;
    margin-left: 5px;
} */


/* Review Card */



